:root{
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
}

.contendor-banner{
    display: none;

}

main {
    text-align: left;

}

form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    padding-bottom: 20px;
}

form div {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 50vw;
    height: 20px;

}


.input-normal input{
    background-color: white;
    color: var(--gris-oscuro);
    border: 1px solid white;
    border-radius: 5px;
    width: 60vw;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}



form div button{
    background-color: var(--celeste);
    border: 1px solid var(--celeste);
    border-radius: 5px;
    color: white;
    width: 60vw;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;

}

