:root{
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
}

body {
    font-family: 'Roboto', sans-serif;;
}

header {
    background-color: var(--amarillo);
    width: 100vw;
}

.primer-contenedor{
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.contenedor-logo{
    flex-grow: 0.5;
    margin: 0;
    padding: 0;
    width: 50vw;
    height: 100px

}

.logo{
    width: 40vw;
    height: 100px;
    margin-left: 10px;
}

.buscar{
    position: relative;
    color: var(--gris-oscuro);
    background-color: var(--gris-claro);
    border: 1px solid var(--gris-claro);
    border-radius: 5px;
    flex-grow: 0.5;
    width: 40vw;
    height: 25px;
    margin-right: 10px;


}

.icono-lupa{
    color: var(--gris-oscuro);
    background-color: var(--gris-claro);
    border: 1px solid var(--gris-claro);
    border-radius: 5px;
    width: 5vw;
    height: 25px;
    padding-top: 3px;
    position: absolute;
    right: 10px;
    top: 38px;

}


header nav ul {
    display: none;
    width: 50vw;
}

header nav ul li {
    margin: 10px;

}

.burger-menu{
    color: white;
    text-align: center;


}

.menu{
    background-color: var(--celeste);
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    border-radius: 10px;

}




.banner{
    margin-bottom: -4px;
}


main {
    text-align: center;
    padding: 0 5px;
    background-color: var(--gris-claro);
    margin: auto
}



main section article{
    margin-bottom: 10px;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;
}

main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.contenedor-datos-articulo{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-top: solid var(--gris-claro) 1px;
    margin-top: 15px;
    margin-bottom: 15px;

}



.fa-truck:hover{
    transform: rotate(-90deg)}


.fa-truck {
    display: block;
    color: var(--verde);
    font-size: 16px;
    border: var(--verde) 1px solid;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    right: 20px;
    top: -15px;

}


.precios{
    font-size: 18px;
    flex-grow: 0.3;
}

.descuentos{
    font-size: 16px;
    color: var(--verde);
    flex-grow: 0.7;
    text-align: left;

}

.descripciones{
    color: white;
}

.descripciones:hover{
    display: block;
    font-size: 16px;
    padding: 15px;
    color: var(--gris-oscuro);
    text-align: left;
}

h3 {
    font-size: 24px;
    padding: 15px;

}

main section{
    display: flex;
    flex-wrap: wrap;
}

.texto{
    font-size: 12px;
}


.icono-mano{
    text-align: center;
}


.compra-cuotas{
    text-align: center;
    padding: 20px
}


ul{
    padding-left:0%
}

ul li{
    list-style: none;
}

ul li a {
    text-decoration: none;
    color:black;
}

p {
    font-size: 12px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    line-height: 15px;
    justify-content: flex-start
}

footer section{
    flex-grow: 0.3;
    width: 30%;
    align-items: flex-start

}

footer section h5{
    margin: 5px
}

footer p {

    line-height: 15px;

}

footer i{
    color: var(--celeste);
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 10px;
}

footer i:hover{
    color: #0022AA;
}

footer h6{
    margin: 20px
}


/* ----------- MEDIA QUERIE ----------- */


/* TABLET */

@media (min-width: 361px){



    main section article {
        max-width: 46%;
    }

    header nav {
        display: flex;
        flex-wrap: wrap;
    }


    header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 0.5;
    }

    .burger-menu {
        display: none;
    }

    .contenedor-logo{
        flex-grow: 0.3;
        width: 30vw;
    }

    .logo{
        width: 25vw;
    }

    .buscar{
        flex-grow: 0.3;
        width: 30vw;
        height: 25px;
        margin-right: 10px;

    }

    .icono-lupa{
        width: 5vw;
        right: 35vw;
        top: 38px;

    }

    .compra-cuotas{
        flex-grow: 0.3;
        width: 30vw;
        padding: 0;
    }




}


/* DESKTOP */

@media (min-width: 769px){




    main section article {
        max-width: 21%;
    }

    header nav ul {
    display: block
    }

    .burger-menu {
        display: none;
    }

    header nav {
        display: flex;
        flex-wrap: wrap;
    }


    header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 0.5;
    }


}